* {
    box-sizing: border-box;
    margin: 0;
}

header, ul {
    text-align: center;
    list-style: none;
    
}

h2{
    text-align: center;
}



p {
margin-bottom: 5px;
}

.two-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.btn {
    background-color: red;
    color: white;
    width: 48%;
    height: 2em;
    padding-top: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

.btn:hover{
    background-color: white;
    color: red;
}


.bookmarks-list {
    padding: 0;
    margin-top: 5px;
    /* background-color: black; */
    color: white;

}

.bookmark-input {
    display: block;
    text-align: center;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    width: 80%;
}

li.bookmark-container {
    margin-top: 5px;
    background-color: black;
    padding-bottom: 5px;
}

li.bookmark-container> .btn {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    width: 10%;
}


a{
    text-decoration: none;
}

.home-stars{
   color: yellow;
}

div.star-rating-in-form{
    text-align: center;
}

@media only screen and (min-width: 600px) {
      li.bookmark-container {
        margin-top: 5px;
        background-color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
  }