* {
    box-sizing: border-box;
    margin: 0;
}

header, ul {
    text-align: center;
    list-style: none;
    
}

.two-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.btn {
    background-color: red;
    width: 48%;
    height: 2em;
    padding-top: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

.btn:hover{
    background-color: white;
    color: red;
}

.btn:active{
    background-color: white;
    color: blue;
}


.bookmarks-list {
    padding: 0;

}

.bookmark-input {
    display: block;
    text-align: center;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    width: 80%;
}
