* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    width: 85%;
    margin: 0 auto;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  
  #bookmarks-list-item {
    width: 250px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .bookmarks-list {
    list-style: none;
    padding-left: 0;
  }
  
  .bookmarks-list > li {
    margin-bottom: 20px;
    border: 1px solid grey;
    padding: 20px;
  }
  
  .bookmarks-item {
    display: block;
    color: grey;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .bookmarks-item__checked {
    text-decoration: line-through;
  }
  
  .error-container {
    color: red;
    font-weight: bold;
  }
  
  .error-container * {
    display: inline-block;
  }
  
  #cancel-error {
    margin-right: 0.5rem;
  }

  /* DROP DOWN MENU CSS */
  /* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

